@import "../../../style/theme.less";

@title_font_color: @color_font_700;
@blue: @color_info;
@orange: @color_warning;
@green: @color_success;
@red: @color_delete;
@loading-color: @color_font_800;

.halo-module-bill-overview {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow: auto;
  .overview {
    .overview-wrapper {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      min-height: 260px;
      max-height: 260px;
      padding: 8px 8px;
      box-sizing: border-box;
      background-color: #f1f1f1;
      .overview-first,
      .overview-second {
        display: flex;
        width: 100%;
        height: 120px;
        .overview-item {
          flex: 1;
          padding: 6px;
          box-sizing: border-box;
          .item {
            width: 100%;
            height: 108px;
            background-color: #fff;
            padding: 10px 20px;
            box-sizing: border-box;
            .title {
              width: 100%;
              height: 28px;
              line-height: 28px;
              font-size: 14px;
              color: @title_font_color;
              a {
                margin-left: 10px;
                font-size: 12px;
                color: @blue;
              }
            }
            .content {
              width: 100%;
              height: 60px;
              line-height: 60px;
              font-size: 28px;
              overflow: hidden;
              &.blue {
                color: @blue;
              }
              &.orange {
                color: @orange;
              }
              &.green {
                color: @green;
              }
              &.red {
                color: @red;
              }
            }
          }
        }
      }
    }
    .table-wrapper {
      display: block;
      margin-top: 20px;
      .table {
        .table-body {
          .row {
            div {
              .orange {
                color: @orange;
                font-weight: bold;
              }
            }
          }
        }
      }
      .no-data {
        margin-top: 10px;
        width: 100%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: @title_font_color;
      }
    }
  }
  .loading-data {
    width: 36px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    i.icon-loading {
      position: absolute;
      top: 50%;
      margin-top: -18px;
      width: 36px;
      color: @loading-color;
      animation: spin 1.28s linear .28s infinite;
      font-size: 36px !important;
    }
  }
}