{
  "modules": [{
    "items": [
      "ticket",
      "manage_ticket",
      "proceeding_ticket",
      "closed_ticket"
    ]
  }],
  "default_module": "ticket",
  "languages": [
    "en",
    "zh-CN"
  ],
  "routers": [{
    "key": "proceeding_ticket",
    "link": "manage_ticket"
  }, {
    "key": "closed_ticket",
    "link": "manage_ticket"
  }],
  "theme": "default"
}
