{
  "modules": [{
    "items": [
      "create-ticket",
      "manage-ticket"
    ]
  }],
  "default_module": "create-ticket",
  "languages": [
    "en",
    "zh-CN"
  ],
  "routers": [],
  "theme": "default"
}
