{
  "modules": [{
    "items": [
      "overview"
    ]
  }, {
    "title": "compute",
    "items": [
      "instance",
      "image",
      "image-snapshot",
      "keypair",
      "ike-policy",
      "ipsec-policy"
    ]
  }, {
    "title": "network",
    "items": [
      "topology",
      "network",
      "subnet",
      "floating-ip",
      "router",
      "port",
      "security-group",
      "loadbalancer",
      "resource-pool",
      "ike-policy",
      "ipsec-policy"
    ]
  }, {
    "title": "storage",
    "items": [
      "volume",
      "snapshot"
    ]
  }, {
    "title": "monitor",
    "items": [
      "alarm",
      "notification"
    ]
  }],
  "default_module": "overview",
  "languages": [
    "en",
    "zh-CN"
  ],
  "routers": [{
    "key": "subnet",
    "link": "network"
  }, {
    "key": "resource-pool",
    "link": "loadbalancer"
  }],
  "hidden": [
    "ike-policy",
    "ipsec-policy"
  ],
  "theme": "default"
}
