{
  "modules": [{
    "items": [
      "overview"
    ]
  }, {
    "title": "compute",
    "items": [
      "instance",
      "image",
      "image-snapshot",
      "keypair"
    ]
  }, {
    "title": "network",
    "items": [
      "topology",
      "network",
      "subnet",
      "floating-ip",
      "router",
      "port",
      "security-group",
      "lb",
      "resource-pool"
    ]
  }, {
    "title": "storage",
    "items": [
      "volume",
      "snapshot"
    ]
  }],
  "default_module": "overview",
  "languages": [
    "en",
    "zh-CN"
  ],
  "routers": [{
    "key": "image-snapshot",
    "link": "image"
  },{
    "key": "subnet",
    "link": "network"
  }, {
    "key": "resource-pool",
    "link": "loadbalancers"
  }],
  "theme": "default"
}
