@import "../../../../../style/theme.less";

.halo-pop-com-host-routes {
  margin-top: 18px;
  padding-left: 0px!important;
  align-items: baseline!important;
  .host {
    .host-content {
      margin-top: 10px;
      div {
        display: inline-block;
        input {
          width: 104px;
          margin-right: 10px;
        }
      }
      .btn {
        vertical-align: top;
        width: 70px;
        min-width: 70px;
      }
    }
    .host-list {
      .host-info {
        display: inline-block;
        width: 135px;
      }
      .nexthop-info {
        display: inline-block;
        width: 135px;
      }
      .delete {
        display: inline-block;
        width: 70px;
        text-align: center;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
}