{
  "halo": "4.0.4",
  "applications": [
    {
      "project": "spectre",
      "name": "dashboard",
      "branch": {
        "dev": "master",
        "production": "4.0.4"
      },
      "git": "git@github.com:unitedstack/spectre.git",
      "directory": "../client/applications"
    },
    {
      "project": "luna",
      "name": "login",
      "branch": {
        "dev": "master",
        "production": "4.0.1"
      },
      "git": "git@github.com:unitedstack/luna.git",
      "directory": "../client/applications"
    },
    {
      "project": "medusa",
      "name": "admin",
      "branch": {
        "dev": "master",
        "production": "4.0.4"
      },
      "git": "git@github.com:unitedstack/medusa.git",
      "directory": "../client/applications"
    },
    {
      "project": "lion",
      "name": "register",
      "branch": {
        "dev": "master",
        "production": "4.0.0"
      },
      "git": "git@github.com:unitedstack/lion.git",
      "directory": "../client/applications"
    },
    {
      "project": "huskar",
      "name": "huskar",
      "branch": {
        "dev": "master",
        "production": "4.0.0"
      },
      "git": "git@github.com:unitedstack/huskar.git",
      "directory": "../server/drivers"
    },
    {
      "project": "slardar",
      "name": "slardar",
      "branch": {
        "dev": "master",
        "production": "4.0.2"
      },
      "git": "git@github.com:unitedstack/slardar.git",
      "directory": "../server/api"
    },
    {
      "project": "tusk",
      "name": "tusk",
      "branch": {
        "dev": "master",
        "production": "4.0.1"
      },
      "git": "git@github.com:unitedstack/tusk.git",
      "directory": "../server/api"
    },
    {
      "project": "meepo",
      "name": "meepo",
      "branch": {
        "dev": "master",
        "production": "4.0.0"
      },
      "git": "git@github.com:unitedstack/meepo.git",
      "directory": "../server/drivers"
    },
    {
      "project": "brewmaster",
      "name": "brewmaster",
      "branch": {
        "dev": "master",
        "production": "4.0.1"
      },
      "git": "git@github.com:unitedstack/brewmaster.git",
      "directory": "../server/api"
    }
  ],
  "openstack": [
    {
      "name": "nova",
      "version": "Newton",
      "api": "v2.1"
    },
    {
      "name": "cinder",
      "version": "Newton",
      "api": "v2"
    },
    {
      "name": "neutron",
      "version": "Newton",
      "api": "v2.0"
    },
    {
      "name": "glance",
      "version": "Newton",
      "api": "v2"
    },
    {
      "name": "keystone",
      "version": "Newton",
      "api": "v3"
    }
  ]
}