<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>有云 - 登录</title>
    <link href="/static/dist/uskin/uskin.min.css" rel="stylesheet">
    <link href="/static/dist/aa6f72.login.css" rel="stylesheet">
  </head>
  <body>
    <div class="img-wrapper">
      <img src="/static/assets/logo.png" />
      <div class="title">有云账号登录</div>
    </div>
    <div class="input-wrapper">
      <input type="text" placeholder="请输入账号" />
      <input type="password" placeholder="请输入密码" />
      <input type="submit" value="立即登录" />
    </div>

    <script src="/static/dist/<%= jsFile %>"></script>
  </body>
</html> 