<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>有云 - 登录</title>
    <link href="/static/dist/uskin/<%= uskinFile %>" rel="stylesheet">
    <link href="/static/dist/<%= loginCssFile %>" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="before"></div>
      <div class="content">
        <div class="img-wrapper">
          <img src="/static/assets/logo@2x.png" />
        </div>
        <div class="input-wrapper">
          <%- ModelTmpl %>
        </div>
        <div class="link">
          <a href="#">注册账号</a>
          <span>|</span>
          <a href="#">忘记密码</a>
        </div>
      </div>
      <div class="after">
        <div class="lang">
          <span>中文</span>
          <span>|</span>
          <a href="#">English</a>
        </div>
        <p>©2015 UnitedStack Inc. All Rights Reserved. 京ICP备13015821号</p>
      </div>
    </div>
    <script src="/static/dist/<%= loginJsFile %>"></script>
  </body>
</html> 