
head
    meta(charSet="utf-8")
    meta(httpEquiv="X-UA-Compatible" content="IE=Edge")
    title= title
    link(rel="shortcut icon" href="https://dn-ustack.qbox.me/favicon.ico" type="image/x-icon")
    each val in style
        link(rel="stylesheet" href=val)