doctype html
html(lang="en")
    include ./head.jade
    body
        div.wrapper
            div.before
            div.con
                a(href="https://www.ustack.com")
                    div.logo(style="background-image: url(https://dn-ustack.qbox.me/login-logo.png); background-size: contain;")
                div#loginForm
                div.signup 没有账号？
                    a(href="https://www.ustack.com/accounts/register/" target="_blank") 注册
            div.after
        script(src="/static/main-login.min.js")