@import "../../../style/index.less";

@toggle-bg-color: @color_gray_beige;
@subnet-item-hover-color: @color_blue_x_light;

.halo-com-detail-minitable .table-info {
  margin-top: 10px;
  i {
    font-size: 14px;
    margin-right: 16px;
    color: @color_gray_dark;
    cursor: pointer;
    &:hover::before {
      color: @color_red;
    }
  }
}
