{
  "modules": [{
    "title": "compute_service",
    "items": [
      "host",
      "host-overview",
      "instance",
      "host-aggregates",
      "availability-zones",
      "instance-restore",
      "flavor",
      "image",
      "shared-image",
      "snapshot-type"
    ]
  }, {
    "title": "storage_service",
    "items": [
      "volume",
      "volume-type",
      "qos-spec",
      "snapshot"
    ]
  }, {
    "title": "network_service",
    "items": [
      "floating-ip",
      "port"
    ]
  }, {
    "title": "keystone",
    "items": [
      "domain",
      "project",
      "user",
      "user-group",
      "role"
    ]
  }, {
    "title": "setting-mgmt",
    "items": [
      "setting-mgmt"
    ]
  }],
  "default_module": "host",
  "languages": [
    "en",
    "zh-CN"
  ],
  "routers": [{
    "key": "host-overview",
    "link": "host"
  }, {
    "key": "instance-restore",
    "link": "instance"
  }, {
    "key": "availability-zones",
    "link": "host-aggregates"
  }, {
    "key": "shared-image",
    "link": "image"
  }, {
    "key": "volume-type",
    "link": "volume"
  }, {
    "key": "qos-spec",
    "link": "volume"
  }],
  "theme": "default"
}
