@import "../../../../../style/theme.less";

@strong_color: @color_delete;
@textarea_border: 1px solid @color_grey;
@textarea_hover_border_color: @color_info;

@keyframes moveToSecondPage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveToFirstPage {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.modal-bd.halo-com-modal-create-stack {
  padding: 0 !important;
  width: 1080px;
  height: 464px;
  overflow: hidden;
  line-height: 18px;

  .page {
    width: 504px;
    padding: 30px 36px 30px 0px;
    min-height: 18px;
    display: inline-block;
    float: left;

    &.second-page {
      transform: translateX(-100%);
    }

    .row-resource {
      margin-top: 20px;
    }
    .row {
      display: flex;
      &:not(:first-child) {
        margin-top: 20px;
      }

      .modal-label {
        .fixed-width(100px);
        height: 32px;
        line-height: 32px;
        text-align: right;
        margin-right: 15px;
        >strong {
          color: @strong_color;
        }
      }

      .modal-data {
        flex: 1;
        span {
          line-height: 32px;
        }
      }

      &.row-textarea {
        textarea {
          height: 100px;
          line-height: 22px;
          width: 100%;
          border: @textarea_border;
          padding: 4px 10px;
          overflow: auto;
          box-sizing: border-box;
          resize: none;
          &:hover,
          &:focus {
            border-color: @textarea_hover_border_color;
          }
        }
      }

      &.row-input {
        input {
          width: 94%;
        }
      }

      &.row-select {
        select {
          width: 100%;
          box-sizing: border-box;
          background-color: #fff;
          outline: none;
          height: 32px;
        }
      }
    }
  }

  .move-in {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: moveToSecondPage;
  }

  .move-out {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: moveToFirstPage;
  }
}

.modal-ft.halo-com-modal-create-stack {
  .left-side {
    > * {
      float: left;
    }
  }
  .right-side {
    > * {
      clear: both;
    }
  }
}
