{
  "modules": [{
    "title": "account_bill",
    "items": [
      "billing-record",
      "account-charge",
      "charge-record"
    ]
  }, {
    "title": "account_mgmt",
    "items": [
      "user",
      "price-mgmt"
    ]
  }],
  "default_module": "billing-record",
  "languages": [
    "en",
    "zh-CN"
  ],
  "routers": [],
  "theme": "default"
}
