.halo-main-table {
  flex: 1;
  padding: 20px;

  > .header {
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f2f2;

    h3 {
      font-size: 16px;
      font-weight: normal;
      color: #42b9e5;
    }
  }

  > .operation-list {
    padding: 10px 0 20px;

    > .btn {
      margin-right: 8px;
    }
  }

  > .table {
    //.fixed-width(10px);
  }

  > .page {

  }
}
