@import "../../../style/index.less";

@status-icon-color-active: @color_green;
@status-icon-color-available: @color_orange;
@detail-border-color: @color_gray;
@close-icon-hover-color: @color_blue;

.halo-com-main-table {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px;

  > .header {
    flex: 1;
    .fixed-height(31px);
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f2f2;
    box-sizing: border-box;

    h3 {
      font-size: 16px;
      font-weight: normal;
      color: #42b9e5;
    }
  }

  > .operation-list {
    flex: 1;
    .fixed-height(62px);
    padding: 15px 0 15px;
    box-sizing: border-box;

    > .btn {
      margin-right: 8px;
    }
    .input-search {
      float: right;
    }
  }

  > .table-box {
    flex: 1;
    display: flex;
    overflow: hidden;
    position:relative;
    .table {
      flex: 1;
      overflow: hidden;
      .glyphicon {
        margin-right: 4px;
      }
      margin-bottom: 20px;
    }
  }

  > .page {

  }

  .glyphicon {
    &.active {
      color: @status-icon-color-active;
    }
    &.available {
      color: @status-icon-color-available;
    }
  }
}

.halo-com-table-detail {
  position: absolute;
  top: 36px;
  left: 200px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-left: 1px solid @detail-border-color;
  transform: translate(100%, 0);
  transition: transform 0.5s;
  &.visible {
    transform: translate(0, 0);
  }
  .detail-head {
    position: absolute;
    top: -36px;
    left: -1px;
    right: 0;
    border-left: 1px solid @detail-border-color;
    .close {
      font-size: 14px;
      cursor: pointer;
      float: left;
      padding: 5px;
      margin: 7px 0 0 15px;
      &:hover {
        color: @close-icon-hover-color;
      }
    }
  }

  .detail-content {
    height: 100%;
    overflow-y: auto;
    .no-data-desc {
      position: relative;
      height: 100%;
      p {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -7px;
        text-align: center;
        height: 14px;
        line-height: 14px;
      }
    }
  }
}