@line_bg_gray: @color_grey;
@line_text_gray: @color_grey_700;
@input_bg_color: @color_disabled_400;
@input_border: @color_grey_700;
@input_border_active: @color_info;
@input_font_size: @color_font_700;
@input_submit_bg: @color_info;
@input_submit_active_bg: darken(@input_submit_bg, 3%);
@width: 1366px;

body {
  width: 100%;
  height: 100%;
  background: url(/static/assets/login/login_bg.png) center center no-repeat;
  background-size: cover;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header {
    flex: 1;
  }
  .content {
    position: relative;
    margin: 0 auto;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden;
  }
  @media screen and (min-width: @width) {
    .content {
      width: 450px;
      .img-wrapper {
        margin-top: 18px;
      }
      .input-wrapper {
        margin-top: 16px;
      }
    }
  }
  @media screen and (max-width: @width) {
    .content {
      width: 420px;
      .img-wrapper {
        margin-top: 18px;
      }
      .input-wrapper {
        margin-top: 16px;
      }
    }
  }
  .footer {
    flex: 2;
    min-height: 80px;
  }
}

.content {
  .img-wrapper {
    margin-top: 18px;
    text-align: center;
    img {
      height: 80px;
    }
  }

  .input-wrapper {
    padding: 0 50px;
    @media screen and (min-width: @width) {
      input {
        width: 328px;
        height: 28px;
        line-height: 24px;
        font-size: 14px;
      }
      input[type="submit"] {
        margin-top: 22px;
        height: 40px;
        line-height: 2px;
        border-radius: 4px;
        font-size: 16px;
      }
    }
    @media screen and (max-width: @width) {
      input {
        width: 298px;
        height: 24px;
        line-height: 18px;
        font-size: 14px;
      }
      input[type="submit"] {
        height: 28px;
        line-height: 2px;
        border-radius: 4px;
        font-size: 14px;
      }
    }
    input {
      display: block;
      padding: 4px 10px;
      border: 1px solid @input_border;
      outline: none;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
      }
      &:hover,
      &:focus {
        border: 1px solid @input_border_active;
      }
      &.error {
        border: 1px solid #ef5665;
      }
      &:not(first-child) {
        margin-top: 14px;
        height: 26px;
      }
    }
    input::-webkit-input-placeholder {
      color: @input_border;
    }
    input[type="submit"] {
      color: #fff;
      background-color: @input_submit_bg;
      border-color: @input_submit_bg;
      letter-spacing: 1px;
      &:hover {
        background-color: @input_submit_active_bg;
        border-color: @input_submit_bg;
      }
      &.disabled {
        color: @input_font_size;
        border-color: @input_bg_color;
        cursor: not-allowed;
        background-color: @input_bg_color;
      }
    }
    .checkbox {
      margin-top: 20px;
      height: auto;
      input[type="checkbox"] {
        margin-top: 0;
        border: none;
        height: 17px;
        width: 17px;
        display: inline-block;
        vertical-align: text-bottom;
      }
      a {
        margin-left: 2px;
      }
    }

    @media screen and (min-width: @width) {
      .link {
        margin: 14px 0 28px;
      }
    }
    @media screen and (max-width: @width) {
      .link {
        width: 320px;
        margin: 14px 0 20px;
      }
    }

    .link {
      height: 44px;
      line-height: 44px;
      border-top: 1px solid @line_text_gray;
      text-align: center;
      color: @line_text_gray;
      a {
        cursor: pointer;
        color: @input_border_active;
      }
      span {
        padding: 0 8px;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  color: #fff;
  .footer-wrapper {
    margin-bottom: 20px;
  }
}
