{
  "modules": [{
    "items": ["overview"]
  }, {
    "title": "compute",
    "items": [
      "instance",
      "image",
      "keypair"
    ]
  }, {
    "title": "network",
    "items": [
      "network",
      "subnet",
      "floating-ip",
      "router",
      "port"
    ]
  }, {
    "title": "storage",
    "items": [
      "volume",
      "snapshot",
      "security-group"
    ]
  }],
  "default_module": "test",
  "languages": [
    "en",
    "zh-CN"
  ],
  "routers": [{
    "key": "subnet",
    "link": "network"
  }, {
    "key": "security-group",
    "link": "keypair"
  }],
  "theme": "default"
}
