{
  "modules": [
    "instance",
    "volume",
    "image",
    "network",
    "subnet",
    "floating-ip"
  ],
  "default_module": "instance",
  "languages": [
    "en",
    "zh-CN"
  ],
  "routers": [{
    "key": "subnet",
    "link": "network"
  }]
}
