var config = {
  'remote': {
    'keystone': 'http://121.201.52.153:5000',
    'nova': {
      'RegionOne': 'http://121.201.52.153:8774'
    },
    'cinder': {
      'RegionOne': 'http://121.201.52.153:8776'
    },
    'neutron': {
      'RegionOne': 'http://121.201.52.153:9696'
    },
    'glance': {
      'RegionOne': 'http://121.201.52.153:9292'
    }
  },
  'region': [{
    'name': {
      'en': 'RegionOne',
      'zh-CN': '一区'
    },
    'id': 'RegionOne'
  }, {
    'name': {
      'en': 'RegionTwo',
      'zh-CN': '二区'
    },
    'id': 'RegionOne'
  }],
  'sessionEngine': {
    'type': 'Session',                               // 'Redis' | 'Memcached' | 'Session' (do not use it in production)
    'remotes': ['127.0.0.1:11211'],
    'secret': 'keyboard cat',
    'cookie_name': 'ustack'
  },
  'log': {
    'accessLogPath': '/var/log/halo/access_log.log',
    'errorLogPath': '/var/log/halo/error_log.log',
    'debug': false,                                // true | false
    'format': 'combined',                    // 'combined' | 'common' | 'dev' | 'short' | 'tiny'
    'printAccessLog': false                   // true | false
  },
  'mq': {
    'enabled': true,
    'remotes': ['121.201.52.153'],
    'port': '5672',
    'heartbeat': 60,
    'username': 'guest',
    'password': 'guest',
    'sourceExchanges': ['nova', 'neutron', 'glance', 'openstack'],
    'reconnectTimeout': 1000,
    'maxTimeoutLimit': 120000
  },
  'websocket': {
    'url': ':8080',
    'port': 8080
  },
  'backend': {
    'type': 'openstack',
    'dirname': 'openstack_server'
  },
  'extension': {
    'type': 'example_qiniu'
  }
};

module.exports = config;
