<div style="margin: auto;max-width:800px;">
  <div style="height:60px;background-color:#007382;border-top-left-radius:5px;border-top-right-radius:5px;">
      <img src="https://www.tfcloud.com/static/assets/logo1.png" style="height:36px;margin-top:11px;margin-left:33px;">
  </div>
  <div style="min-height:155px;background-color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;color:#142728;padding:25px 30px;font-size:14px;line-height:30px;">
      <div style="maring-bottom:10px;">尊敬的用户：
          <div>
              <div>
                <%- content %>
              </div>
          </div>
          <div style="margin:auto;text-align:center;width:100%;background-color:#fff;color:#9e9e9e;padding-top:16px;padding-bottom:16px;font-size:12px;">
              <a href="https://www.tfcloud.com" style="color:#9e9e9e;text-decoration:none;" target="_blank">TFCloud Inc. - www.tfcloud.com</a>
          </div>
      </div>
  </div>
</div>