<div style="position: relative;margin: 0 auto; width: 702px; font-size: 0;">
    <div style="display: inline-block; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: transparent #343E41 #343E41 transparent;margin-left: 227px;"></div>
    <div style="display: inline-block; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: transparent transparent #343E41 #343E41;margin-left: 206px;"></div>
    <div style="width: 206px; height: 60px; position:absolute; top: 0; left: 247px; background-color: #343E41;"></div>
    <div style="width: 662px; margin-top: 0; margin-left: auto; margin-right: auto; background-color: #343E41; padding: 20px;">
      <div style="width: 662px; background-color: transparent; border: 1.2px solid #01AFC9; position: relative; padding: 0; text-align: center;">
        <div style="width: 20px; height: 20px; position: absolute; left:0; top: 0; background-color: #01AFC9; margin: 0;"></div>
        <div style="width: 20px; height: 20px; position: absolute; right:0; top: 0; background-color: #01AFC9; margin: 0;"></div>
        <div style="width: 20px; height: 20px; position: absolute; left:0; bottom: 0; background-color: #01AFC9; margin: 0;"></div>
        <div style="width: 20px; height: 20px; position: absolute; right:0; bottom: 0; background-color: #01AFC9; margin: 0;"></div>
        <p style="margin-top: 34px; color: #ffffff; font-size: 12px; letter-spacing: 18px; text-align: center;">-REGISTER-</p>
        <p style="margin-top: 16px; margin-bottom: 16px; color: #ffffff; font-size: 54px; letter-spacing: 2px; text-align: center;">注册成功</p>
        <p style="text-align: center;">
          <span style="font-size: 6px; color: #ffffff; vertical-align: middle;">///////////////////</span>
          <span style="display: inline-block; margin-left: 40px; margin-right: 40px; color: #ffffff; font-size: 20px; vertical-align: middle;">尊敬的天河星光云用户</span>
          <span style="font-size: 6px; color: #ffffff; vertical-align: middle;">///////////////////</span>
        </p>
        <div style="margin-top: 12px; margin-left: auto; margin-right: auto; width: 206px; color: #ffffff; font-size: 14px; text-align: left;">
          <span style="font-weight: bold; line-height: 28px;">用户名</span>：dengbo234<br>  
          <span style="font-weight: bold; line-height: 28px;">姓   名</span>：dengbo<br>
          <span style="font-weight: bold; line-height: 28px;">电   话</span>：18322992739<br>
          <span style="font-weight: bold; line-height: 28px;">邮   箱</span>：dengbo@unitedstack.com<br>
          <span style="font-weight: bold; line-height: 28px;">公   司</span>：unitedstack<br>
          <span style="font-weight: bold; line-height: 28px;">您的注册申请已被接受</span>
        </div>
        <a style="border-radius: 2px; margin-left: auto; margin-right: auto; text-decoration: none; margin-top: 16px; width: 114px; height: 40px; line-height: 40px; display: block; color: #ffffff; font-size: 18px; padding: 0 28px; background-color: #01AFC9;" href="javascript: void(0)">点击去控制台</a>
        <p style="margin-top: 16px; margin-bottom: 14px; font-size: 12px; letter-spacing: 0.67px; text-align: center; width: 160px; height: 16px; margin-left: auto; margin-right: auto; color: #ffffff;">同方云—<a style="text-decoration: none; color: #ffffff;" href="www.tfcloud.com">www.tfcloud.com</a></p>
      </div>
    </div>
  </div>