@import "../../../style/index.less";

@basic-props-title-color: @color_gray_darker;
@toggle-bg-color: @color_gray_beige;

table.basic-props {
  tr {
    height: 24px;
    th {
      width: 94px;
      color: @basic-props-title-color;
      font-weight: normal;
      vertical-align: top;
      text-align: right;
    }
    td {
      vertical-align: top;
      padding-left: 24px;
      p {
        height: 16px;
        line-height: 16px;
        text-align: top;
        margin: 0 0 6px 0;
      }
      a {

      }
    }
  }
}

.toggle {
  margin: 0 0 24px 20px;
  overflow: hidden;
  &:nth-child(1) {
    margin: 24px 0 24px 20px;
  }
  .toggle-title {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    background-color: @toggle-bg-color;
    border-radius: 2px;
    padding: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    i {
      float: right;
      height: 42px;
      line-height: 42px;
    }
  }
  .toggle-content {
    height: 100%;
    &.fold {
      height: 0;
      transition: height .5s;
    }
    &.unfold {
      padding-top: 20px;
      height: auto;
      transition: height .5s;
    }
  }
}
