@import "../../../style/index.less";

.halo-com-related-sources {
  position: relative;
  width: 526px;
  padding-left: 16px;
  .related-sources-title {
    position: relative;
    height: 14px;
    margin: 12px 0;
    &:before {
      content: "";
      left: 0;
      right: 24px;
      top: 50%;
      margin-top: -1px;
      height: 1px;
      background-color: @color_gray_light;
      display: block;
      position: absolute;
    }
    div {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      padding-right: 12px;
      background-color: #fff;
      z-index: 2;
      height: 14px;
      line-height: 14px;
      }
    i.create-action {
      color: @color_gray_darker;
      float: right;
      cursor: pointer;
      &:hover {
        color: @color_blue;
      }
    }
  }
  .content-no-data {
    height: 14px;
    padding: 8px;
    color: @color_gray_darker;
  }
  .related-sources-content {
    margin-right: 24px;
    .content-item {
      padding: 8px;
      &:hover {
        background-color: @color_blue_x_light;
        i.delete {
          color: @color_gray_darker;
          &:hover {
            color: @color_red;
          }
        }
      }
      > div {
        display: inline-block;
      }
      i {
        margin-right: 4px;
        &.delete {
          float: right;
          color: transparent;
          cursor: pointer;
        }
      }
    }
    .table-mini {
      .table-body {
        .row {
          i.delete {
            display: none;
          }
          &:hover {
            i.delete {
              display: inline-block;
              color: @color_gray_darker;
              cursor: pointer;
              &:hover {
                color: @color_red;
              }
            }
          }
        }
      }
    }
  }
}