@import "../../../style/index.less";

@detail-border-color: @color_gray;
@close-icon-hover-color: @color_blue;

.halo-com-table-detail {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-left: 1px solid @detail-border-color;
  transform: translate(100%, 0);
  transition: transform 0.5s;
  &.visible {
    transform: translate(0, 0);
  }
  .close {
    font-size: 14px;
    cursor: pointer;
    float: left;
    padding: 5px;
    margin: 7px 0 0 15px;
    &:hover {
      color: @close-icon-hover-color;
    }
  }
}
